body {
    background-image: url('backg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    padding-top: 170px;
}
.content {
    text-align: center;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
}