body{
    width: 99%;
    height: 97%;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 40px;
}
.search{
    font-size: 25px;
}
.search i{
    padding: 5px 20px;
    color: black;
}

.container {
    display: flex;
    width: 100%;
}
    .recipe, .nutrition {
        margin: 10px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
    }

.recipe {
    width: 70%;
    color:bisque;
    font-family: sans-serif;
   

}
.nutrition {
    width: 30%;
   
}
h1{
    color: orange;
}
h2{
    color: bisque;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}